
<div class="col-md-12 col-sm-12">
<div class=" w3-responsive">
<%=image_tag("images/minivet_exim11.jpg",:width => '100%')%>
</div>
</div>


<div class="col-md-12 col-sm-12">
<div class="w3-card w3-responsive">
<h2 class="text-center" style="color:#d69936;">We showcase your profile directory in trade fair and event by free.</h2><h2 class="text-center" style="color:#d69936;"> It will help you get free import-export  trade leads all over the world</h2>  
<h3 class="text-center" style="color:#d69936;">Trade shows, Exhibitions taking place  continents like Asia, Africa, Europe, and America continents</h3>
</br>
</div>
</div>


<div class="footer">
  <footer>
    <div class="bottom-footer text-center py-md-4 py-3">
      <p>
      </br>	
        <a> © Minivet Exim<%=image_tag("images/minivetexim.png",:size => "50x24")%>
<%=Time.now.strftime("%m/%d/%Y")%></a>
</br>
      </p>
    </div>
  </footer>
</div>

