// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body1 {

	 margin: 0;

     overflow: hidden;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}




.bottom-footer p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.bottom-footer p a {
    color: #ff5e00;
    font-size: 14px;
}
.bottom-footer p a:hover{color: #fff;}
a.move-top span {
    display: inline-block;
    font-size: 25px;
    color: #fff;
}
.bottom-footer{
    background: #000;
}