
<div class="col-md-7 col-sm-7  col-md-offset-2">
<div class="w3-panel w3-card w3-responsive">
<div class="w3-container w3-margin-bottom">
 <h3>Edit Products Information</h3>
       
<%=simple_form_for @product do |f| %>

<%= f.text_field :product_name,:maxlength=>"35",placeholder: 'Product Name',class: "form-control" %></br>

<%= f.text_field :product_price,:maxlength=>"30",placeholder: 'Product Price',class: "form-control" %></br>

<p class="text-center"><%= f.submit"Publish",class: "w3-btn w3-green"%></p>

<%end%>

</div>
</div>
</div>
